name: build-and-release

on:
  push:
    tags:
      - 'v*-mc*'
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: generate checksums
        if: github.ref_type == 'tag'
        run: |
          cd build/libs
          sha256sum *.jar > SHA256SUMS.txt

      - name: create github release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          generate_release_notes: true
          prerelease: ${{ contains(github.ref_name, '-') && !contains(github.ref_name, '-mc') }}
          files: |
            build/libs/${{ github.event.repository.name }}-*.jar
            build/libs/SHA256SUMS.txt
